
body{
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
    background: rgb(230, 231, 235);
    height: 100%;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.active{
    font-weight: 700;
}

.mouse_over{
    font-weight: 700;
    color: #f92672 !important;
}

.change_font{
    font-family: 'Fredericka the Great';
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin: 0%;
}

h1{
    text-align: center;
}


.icon{
    margin-top: 1rem;
    font-size: 1.5rem;
    opacity: 0.8;
}

.icon_hover{
    color: #f92672 !important;
}

.footer .icon{
    color:  white;
}

#button{
    position: block;
}

#main_image{
    width: 100%;
    height: 14rem;
    background:url("img/main_image.png") no-repeat center top;
    background-size: 100%;
}
#main_text{ 
    width: 50%;
}
#main_text p{ /* Extra Small screen settings */
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    margin: 0;
    font-size: 65%;
    margin-top: 2rem;
}

#heading_text{
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    text-align: center;
}

#name{
    font-size: 2rem;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}

#name_alt{
    font-size: 1.5rem;
    text-align: start;
    font-family: 'Francois One', sans-serif;
    color: white;
}

#name_alt span{
    color: #f92672;
}

#main_text #getInTouch{
    text-align: end;
    margin-top: 0;
}

.hide{
    visibility: hidden;
}

#getInTouch:hover{
    color: #f92672;
}

.contact{
    font-size: 1rem;
}

.footer{
    background: rgb(20, 21, 23);
}

.footer_text{
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.section_list p{
 font-size: 1rem;
}

.section_list span{
    color: #f92672;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.section_list .date{
    font-size: 0.7rem;
}

#skill_head{
    font-family: 'Roboto Condensed', sans-serif;
    color: #f92672;
    height: 50rem;
}

.skill_left{
    background-color: rgb(20, 21, 23);
    height: 100vh;
}

.scroll{
    position:sticky;
    top: 0;
    z-index: 100;
}

.skill_right .scroll{
    background-color:  rgb(230, 231, 235);
} 

.arrow_sec{
    text-align: center;
    font-size: 5rem;
    height: 0.5rem;
}
.arrow{
    color: rgb(20, 21, 23);
}
.arrow:hover{
    color: #f92672;
    margin-left: 2rem;
}

#skills{
    height: 35rem;
}

#experience{
    height: 45rem;
}

#resume{
    height: 50rem;
    text-align: center;
}

#resume i{
    font-size: 3rem;
    color: #f92672;
}

#resume i:hover{
    color:  rgb(20, 21, 23);
}


/* Adjusting elements according to screen size. Responsive */

@media screen and (min-width: 576px) {   /*Small*/
    #main_text p{
        font-size: 0.9rem;
        margin-top: 3rem;
    }

    #main_image{
        height: 20rem;
    }

    #main_text #getInTouch{
        margin-top: 0.5rem;
    }

}

@media screen and (min-width: 768px) {   /*Medium*/
    #main_text p{
        font-size: 1rem;
        margin-top: 3rem;
    }


    #main_text #getInTouch{
        margin-top: 0rem;
    }

  

}

@media screen and (min-width: 992px) {  /*Large*/

    #main_text p{
        font-size: 1rem;
        margin-top: 3rem;
    }

    #main_image{
        height: 25rem;
    }
}

@media screen and (min-width: 1200px) {   /*Extra Large*/
    #main_text p{
        font-size: 1.1rem;
        margin-top: 3rem;
    }
}
